<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>URL Broadcaster</title>
		<meta name="description" content="Make easy to send a URL to the mobile devices">
		<meta name="author" content="parksama@daumcorp.com">
		<!--[if lt IE 9]>
		  <script src="/javascripts/html5.js"></script>
		<![endif]-->
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<script src="/javascripts/jquery-1.7.1.min.js"></script>
	</head>
	<body>
		<a href="https://github.com/kyungw00k/UrlBroadcaster"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:10001;zoom:1" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
		<div class="topbar" style="position:absolute">
			<div class="fill">
				<div class="container">
					<a class="brand" href="#">URL Broadcaster</a>
					<ul class="nav">
						<li><a href="https://github.com/kyungw00k/UrlBroadcaster" target="_blank">API</a></li>
					</ul>
					<form action="/" class="pull-right" onsubmit="setTimeout(function(){location.href = '/' + $('input[id=username]').val();},100);return false;">
					<% if ( !userName ||  userName === 'guest' ) { %>
						<input class="input-small" id="username" type="text" placeholder="User ID">
						<button class="btn primary" id="userpage" type="button" onclick="location.href = '/' + $('input[id=username]').val();">Make</button>
					<% } else { %>
						<input class="input-small" type="text" value="<%=userName%>" disabled="true">
						<button class="btn danger" type="button" onclick="location.href = '/'">Back</button>
					<% } %>
					</form>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<%- body %>
			</div>
			<footer>
				<p>&copy; <a href="http://twitter.com/kyungw00k" target="_blank">kyungw00k</a></p>
			</footer>
		</div> <!-- /container -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28739213-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
